TMDB_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2YzY4MDVmNjcyYzE2ZGJiYjJlNjBhZDBiNWRhNjcwMyIsIm5iZiI6MTc3ODE1OTc5Ni45OTQsInN1YiI6IjY5ZmM5MGI0ODFiNTg3MzNjYzhjNDNiMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.vCtQFdr0YQAkCxCb488lbnVx_2IX429WJSEl0mV7I34
DATABASE_URL=postgresql://neondb_owner:npg_p3JFfGM4WDun@ep-cold-frog-acpe5zpf-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=railway-secret
FRONTEND_URL=https://reelplay.up.railway.app
PORT=3333
